<p>
    <strong>Content: </strong>
    <%= todo_item.content %>
</p>

<p>
<%= link_to 'Delete item', [todo_item.todo_list, todo_item],
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
</p>